@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-blue: var(--neon-blue);
  --color-neon-pink: var(--neon-pink);
  --color-neon-purple: var(--neon-purple);
  --color-glass: var(--glass);
  --color-glass-border: var(--glass-border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #050510;
  --foreground: #ffffff;
  --neon-blue: #00f3ff;
  --neon-pink: #ff00cc;
  --neon-purple: #bd00ff;
  --glass: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(255, 255, 255, 0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}